.chef img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.chefs-section {
    background-color: #f8f8f8;
    padding: 50px 20px;
    text-align: flex-start;
}

#chefs {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    margin-left: 15px;
    margin-right: 15px;
}


.chef {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px;
    width: 50%;
    text-align: center;
}

.texto-chefs h1 {
    font-size: 36px;
    color: #333;
    
}