/* Estilo geral dos inputs */
.reserva input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #F54748;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 50%;
  box-sizing: border-box;
}

/* Estilo dos placeholders */
.reserva input::placeholder {
  color: #999;          /* Cor do texto do placeholder */
  font-style: italic;   /* Deixa o texto em itálico */
  opacity: 1;           /* Garante que fique visível em todos os navegadores */
}
/* Estilo do botão de envio */
.reserva button {       
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 35px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.reserva button:hover {
  background-color: #e45959;
  transform: scale(1.05);
  animation-delay: 0.2s;
}

.Vermelho {
  background-color: #800f0f;
  color: white;
  border-radius: 0%;
    object-fit: cover;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.Vermelho h2 {
  color: black;
}